html {
    min-height: 100%;
}

.body{
    background: url(https://r4.wallpaperflare.com/wallpaper/737/969/264/world-of-warcraft-video-games-world-of-warcraft-battle-for-azeroth-wallpaper-78bae8bacccbf52c78ea8556acac1dde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


p {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.main-header__img_height{
    height: 100px;
    flex: 1;
    text-align: center; 
}

.main-header_white {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}
  
.main-header__container_position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__buttons_align {
    flex: 1;
    text-align: left;
}

.main-header__buttons1_paddings {
    padding: 5px;
}

.main-header__button-link_decoration{
    text-decoration: none;
}
  
.main-header__logo_align {
    flex: 1;
    text-align: center;
}

.main-aside-left_opacity{
    height: 100%;
    width: 200px;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-aside-right_opacity{
    height: 100%;
    width: 200px;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-aside__h1_font-size {
    font-size: 16px;
    color: white;
}

.main-some-text_background-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.main-some-text__p_font-setings {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.main-icon__horde_alignment {
    /* float: left; */
    height: 250px;
    padding-right: 150px;
}

.main-icon__alince_alignment {
    /* float: right; */
    height: 250px;
    padding-left: 150px;
}

.main-icon-text__p_font-setings {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.main-footer_footer-setings {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 20px;
}




/* Тут чисто вторая страница, ну почти, я уже не помню, дурень, сразу надо было расставлять эту всю хуйню */
/* Однако тут одна таблица */
table {
    width: 78.5%;
}

.main-rass__tr-horde{
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.main-rass__tr-alince {
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(0, 3, 207, 0.5);
    color: white;
}

.main-rass__tr-netraul {
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(135, 135, 135, 0.5);
    color: white;
}

.main-rass__td-horde {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__td-alince {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__td-netraul {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__td-img-netraul {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__td-img-alince {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__td-img-horde {
    border: 3px solid white;
    border-radius: 10px;
}

.main-rass__imgork {
    height: 50px;
    width: 50px;
    padding: 50px;
}




/* тут будет все относить к 3 странцие, где у нас классы все расписаны */

.main-classes__DK_list {
    float: left;
    padding: 10px;
}

.main-classes__DK-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__RE_list {
    float: left;
    padding: 10px;
}

.main-classes__RE-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__PL_list {
    float: left;
    padding: 10px;
}

.main-classes__PL-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__DH_list {
    float: left;
    padding: 10px;
}

.main-classes__DH-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__DR_list {
    float: left;
    padding: 10px;
}

.main-classes__DR-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__MG_list {
    float: left;
    padding: 10px;
}

.main-classes__MG-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__MK_list {
    float: left;
    padding: 10px;
}

.main-classes__MK-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__PR_list {
    float: left;
    padding: 10px;
}

.main-classes__PR-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__WR_list {
    float: left;
    padding: 10px;
}

.main-classes__WR-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__WK_list {
    float: left;
    padding: 10px;
}

.main-classes__WK-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__SM_list {
    float: left;
    padding: 10px;
}

.main-classes__SM-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__HT_list {
    float: left;
    padding: 10px;
}

.main-classes__HT-img_list {
    height: 250px;
    width: 180px;
}

.main-classes__EK_list {
    float: left;
    padding: 10px;
}

.main-classes__EK-img_list {
    height: 250px;
    width: 180px;
}